OVERMIND_BACKUP_DIR={{ overmind_postgres_backup.backup_dir | quote }}
OVERMIND_BACKUP_RETAIN={{ overmind_postgres_backup.retention_count | string | quote }}
OVERMIND_BACKUP_FRESHNESS_MAX_AGE_SECONDS={{ overmind_postgres_backup.freshness_max_age_seconds | string | quote }}
OVERMIND_POSTGRES_CONTAINER={{ overmind_postgres_backup.container_name | quote }}
OVERMIND_POSTGRES_ADMIN_USER={{ overmind_postgres_backup.admin_user | quote }}
OVERMIND_POSTGRES_DATABASE={{ overmind_postgres_backup.database | quote }}
OVERMIND_POSTGRES_PASSWORD={{ overmind_postgres_backup.admin_password | quote }}
OVERMIND_DISCORD_WEBHOOK_URL={{ overmind_postgres_backup.discord_webhook_url | quote }}
