[Unit]
Description=AoE LAN proxy firewall
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /etc/nftables.d/workstation-aoe-proxy.nft
ExecStop=/usr/sbin/nft delete table inet workstation_aoe_proxy

[Install]
WantedBy=multi-user.target