table inet workstation_aoe_proxy {
  set allowed_ipv4 {
    type ipv4_addr
    elements = {
{% for address in workstation_aoe_proxy_firewall_allowed_ipv4 %}
      {{ address }}{% if not loop.last %},{% endif %}
{% endfor %}
    }
  }

  chain input {
    type filter hook input priority 0; policy accept;

    iifname "lo" tcp dport {{ workstation_aoe_proxy_firewall_port }} accept
    tcp dport {{ workstation_aoe_proxy_firewall_port }} ip saddr @allowed_ipv4 accept
    tcp dport {{ workstation_aoe_proxy_firewall_port }} drop
  }
}