directory: /data/media/music
library: /config/beets/library.db

plugins:
  - VGMplug
  - musicbrainz
  - chroma
  - lastgenre
  - discogs
  - fetchart
  - embedart
  - replaygain
  - scrub

import:
  timid: no
  incremental: yes
  move: yes
  write: yes

paths:
  "genre:=Game": "Soundtracks/Game/$album ($year)/$track - $title"
  "style:Video": "Soundtracks/Game/$album ($year)/$track - $title"
  "albumtype:soundtrack": "Soundtracks/Screen/$album ($year)/$track - $title"
  default: "Music/$albumartist/$album ($year)/$track - $title"

VGMplug:
  autosearch: true

replace:
  '[\\/]': _
  '^\.': _
  '[\x00-\x1f]': _
  ':': ' -'
  '[<>"\?\*\|]': _
  '\.$': _
  '\s+$': ''

chroma:
  apikey: "{{ stack_vars.acoustid_apikey }}"

discogs:
  user_token: "{{ stack_vars.discogs_token }}"

replaygain:
  backend: ffmpeg
