x-prereq-dirs:
  - ./appdata/database
  - ./appdata/authentik/data
  - ./appdata/authentik/certs
  - ./appdata/authentik/custom-templates

services:
  postgresql:
    volumes:
      - ./appdata/database:/var/lib/postgresql/data
    networks:
      - idm
  server:
    volumes:
      - ./appdata/authentik/data:/data
      - ./appdata/authentik/custom-templates:/templates
      - ./appdata/authentik/blueprints:/blueprints/custom
    networks:
      - proxy
      - idm
    environment:
      - AUTHENTIK_PROXY_HEADERS=true
      - AUTHENTIK_COOKIE_DOMAIN=.faviann.com
      - NAVIDROME_URL=http://public.faviann.vms:4533
      - NAVIDROME_ADMIN_USER=svc-automation
      - NAVIDROME_ADMIN_PASSWORD={{ auth_navidrome_automation_password | replace('$', '$$') }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - homepage.instance.admin.group=Operations
      - homepage.instance.admin.name=Authentik
      - homepage.instance.admin.href=https://auth.faviann.com
      - homepage.instance.admin.description=Identity and access management
      - homepage.instance.admin.icon=mdi-shield-account
  worker:
    environment:
      AUTHENTIK_EMAIL__FROM: ${AUTHENTIK_EMAIL__FROM}
      AUTHENTIK_COOKIE_DOMAIN: .faviann.com
      NAVIDROME_URL: http://public.faviann.vms:4533
      NAVIDROME_ADMIN_USER: svc-automation
      NAVIDROME_ADMIN_PASSWORD: "{{ auth_navidrome_automation_password | replace('$', '$$') }}"
    volumes:
      - ./appdata/authentik/data:/data
      - ./appdata/authentik/certs:/certs
      - ./appdata/authentik/custom-templates:/templates
      - ./appdata/authentik/blueprints:/blueprints/custom
    networks:
      - idm
networks:
  idm:
    name: idm
    driver: bridge
  proxy:
    external: true