services:
  docker-metadata-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: docker-metadata-proxy
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    environment:
      - CONTAINERS=1
      - SERVICES=1
      - TASKS=1
      - IMAGES=1
      - INFO=1
      - NETWORKS=1
      - POST=0
    ports:
      - {{ homepage_docker_proxy_port }}:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - admin
{% if lxc_docker_env_hawser_enabled | default(false) %}
  hawser:
    container_name: hawser
    image: ghcr.io/finsys/hawser:latest
    restart: unless-stopped
    ports:
      - 2376:2376
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ dockhand_hawser_stacks_dir }}:{{ dockhand_hawser_stacks_dir }}
    environment:
      - PORT=2376
      - BIND_ADDRESS=0.0.0.0
      - TOKEN=${TOKEN}
      - DOCKER_SOCKET=/var/run/docker.sock
      - STACKS_DIR={{ dockhand_hawser_stacks_dir }}
      - AGENT_NAME={{ inventory_hostname }}
      - LOG_LEVEL=info
    networks:
      - admin
{% endif %}
networks:
  admin:
    driver: bridge
